<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>

    <% if (username == undefined) { %>
      <form class="form-inline" action="/login" method="POST">
        <div class="form-group mb-2">
          <input class="form-control" type="email" name="email" placeholder="user email" style="width: 200px; margin: 1em">
          <button type="submit" class="btn btn-success">login</button>
        </div>
      </form>
    <% } else { %>
      <!--below works good, delete above to return-->
    <form class="form-inline" action="/logout" method="POST">
      <div class="form-group mb-2">
        <label for='username'>logged in as <%= username %></label>
        <button type="submit" class="btn btn-success">logout</button>
      </div>
    </form>
  <% } %>
  </nav>
</header>